
{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="w3-content " style="max-width:20000px;margin-top:46px" >      
        <div class="w3-container w3-content w3-padding-64" style="max-width:700px" id="/review_read">
            <div class="w3-col m10" >
                
                    <form  method="POST" action="/give_review">
                        <div class="w3-row-padding"  style=" margin-bottom:2rem; margin-left: 5cm;">
                        <div class="w3-half">
                            <input class="w3-input w3-border" style=" margin-bottom:0rem; margin-left: 5cm;" type="text" placeholder="Name" required name="Name" />
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" style=" margin-bottom:0rem; margin-left: 5cm;" type="text" placeholder="Product" required name="Product" />
                        </div>
                       
                        
                        <input class="w3-input w3-border" style=" margin-bottom:0rem; margin-left: 5cm;" type="text" placeholder="Review" required name="Review" />
                        <button class="w3-button w3-yellow w3-section w3-right"  type="submit">POST</button>
                    </div>
                    </form>             
            </div>
        </div>     
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1000px" id="/review_read">
            <div class="w3-col m10" >
                <div ><h4>{{msg}}</h4></div>
                {% block body%}
                    {%for a,b,c in re %}
                        <div class="card bd-highlight" id=box style=" margin-bottom:2rem; margin-left: 6cm;">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h4 class="card-title flex-grow-1">{{c}}</h4>
                                </div>
                                <h5 class="card-subtitle mb-2">Product Name : {{b}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Writtten by {{a}} on {{year}}-{{month}}-{{day}}</h6>   
                            </div>
                        </div>  
                    {% endfor %}
                {% endblock %}       
          </div>

        </div>
    </div>


    


</html>
{% endblock content %}