{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center bg-info p-2 h4">Register User</div>
                {% from "_formhelpers.html" import render_field %}
                <form method=post>
                    {{ form.csrf_token }}
                <div>
                    {{ render_field(form.name, class="form-control") }}
                    {{ render_field(form.username, class="form-control") }}
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                    {{ render_field(form.confirm, class="form-control") }}
                    
                </div>
                <p>
                    By clicking the Sign Up button,you agree to our <br />
                    <a href="{{ url_for('terms') }}">Terms and Condition</a> and <a href="{{ url_for('terms') }}">Policy Privacy</a>
                  </p>
                <p><input type="submit" value="Register" class="btn-info">
                </form>
                <div class="text-center sm-info p-2 h5">
                    <div>
                      <span>Already have an account?</span>
                      <a href="{{ url_for('login') }}"> Log in</a>
                </div>

            </div>
      <div class="col-md-3"></div>
      
      </div>
    </div>
    </div>
</div>
{% endblock content %}

